# DBs and Python

In [54]:
import pandas as pd

In [55]:
df = pd.read_csv('_select_from_employees_e_join_salaries_s_on_e_emp_no_s_emp_no_wh_202406122012.csv')

In [56]:
df.shape

(4853, 10)

# Connect to DB from python

In [57]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\musta\miniconda3\envs\minimal_ds\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [58]:
import pymysql

In [59]:
conn = pymysql.connect(
    host='localhost',
    user='root',
    passwd='root',
    db='employees'
)

In [60]:
curs = conn.cursor()

In [61]:
query ='''
        select * 
        from employees e 
        join salaries s 
        on e.emp_no = s.emp_no 
        where e.hire_date > "1999-01-01"
        '''

In [62]:
curs.execute(query)

4853

In [63]:
rows = curs.fetchall()

In [64]:
results = []
for row in rows:
    print(row)
    results.append(row)
print()

(10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30), 10019, 44276, datetime.date(1999, 4, 30), datetime.date(2000, 4, 29))
(10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30), 10019, 46946, datetime.date(2000, 4, 29), datetime.date(2001, 4, 29))
(10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30), 10019, 46775, datetime.date(2001, 4, 29), datetime.date(2002, 4, 29))
(10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30), 10019, 50032, datetime.date(2002, 4, 29), datetime.date(9999, 1, 1))
(10105, datetime.date(1962, 2, 5), 'Hironoby', 'Piveteau', 'M', datetime.date(1999, 3, 23), 10105, 59258, datetime.date(1999, 5, 17), datetime.date(2000, 5, 16))
(10105, datetime.date(1962, 2, 5), 'Hironoby', 'Piveteau', 'M', datetime.date(1999, 3, 23), 10105, 61514, datetime.date(2000, 5, 16), datetime.date(2001, 5, 16))
(10105, datetime.date(1962, 2, 5), 'Hironoby', 'Piveteau', 'M', datetime.date(1999, 3, 23), 10105, 61172, datetime.date(2001, 5, 16), datetime.date(2001, 6, 11))
(10298, datetime.date(1954, 7, 6), 'Dietrich', 'DuCasse', 'F', datetime.date(1999, 3, 30), 10298, 40000, datetime.date(1999, 4, 27), datetime.date(2000, 4, 26))
(10298, datetime.date(1954, 7, 6), 'Dietrich', 'DuCasse', 'F', datetime.date(1999, 3, 30), 10298, 39994, datetime.date(2000, 4, 26), datetime.date(2001, 4, 26))
(10298, datetime.date(1954, 7, 6), 'Dietrich', 'DuCasse', 'F', datetime.date(1999, 3, 30), 10298, 43705, datetime.date(2001, 4, 26), datetime.date(2002, 4, 26))
(10298, datetime.date(1954, 7, 6), 'Dietrich', 'DuCasse', 'F', datetime.date(1999, 3, 30), 10298, 43923, datetime.date(2002, 4, 26), datetime.date(9999, 1, 1))
(10684, datetime.date(1956, 1, 23), 'Aimee', 'Tokunaga', 'F', datetime.date(1999, 10, 28), 10684, 45861, datetime.date(1999, 10, 28), datetime.date(2000, 10, 27))
(10684, datetime.date(1956, 1, 23), 'Aimee', 'Tokunaga', 'F', datetime.date(1999, 10, 28), 10684, 46564, datetime.date(2000, 10, 27), datetime.date(2001, 10, 27))
(10684, datetime.date(1956, 1, 23), 'Aimee', 'Tokunaga', 'F', datetime.date(1999, 10, 28), 10684, 47683, datetime.date(2001, 10, 27), datetime.date(9999, 1, 1))
(11315, datetime.date(1955, 4, 21), 'Neven', 'Meriste', 'M', datetime.date(1999, 7, 17), 11315, 84316, datetime.date(2000, 1, 18), datetime.date(2001, 1, 17))
(11315, datetime.date(1955, 4, 21), 'Neven', 'Meriste', 'M', datetime.date(1999, 7, 17), 11315, 84450, datetime.date(2001, 1, 17), datetime.date(2002, 1, 17))
(11315, datetime.date(1955, 4, 21), 'Neven', 'Meriste', 'M', datetime.date(1999, 7, 17), 11315, 85452, datetime.date(2002, 1, 17), datetime.date(2002, 1, 17))
(11325, datetime.date(1952, 2, 6), 'Samphel', 'Rossi', 'F', datetime.date(1999, 1, 10), 11325, 62458, datetime.date(1999, 1, 10), datetime.date(2000, 1, 10))
(11325, datetime.date(1952, 2, 6), 'Samphel', 'Rossi', 'F', datetime.date(1999, 1, 10), 11325, 65329, datetime.date(2000, 1, 10), datetime.date(2001, 1, 9))
(11325, datetime.date(1952, 2, 6), 'Samphel', 'Rossi', 'F', datetime.date(1999, 1, 10), 11325, 67036, datetime.date(2001, 1, 9), datetime.date(2002, 1, 9))
(11325, datetime.date(1952, 2, 6), 'Samphel', 'Rossi', 'F', datetime.date(1999, 1, 10), 11325, 69456, datetime.date(2002, 1, 9), datetime.date(9999, 1, 1))
(11697, datetime.date(1957, 12, 20), 'JoAnne', 'Merey', 'F', datetime.date(1999, 11, 6), 11697, 44268, datetime.date(1999, 12, 10), datetime.date(2000, 12, 9))
(11697, datetime.date(1957, 12, 20), 'JoAnne', 'Merey', 'F', datetime.date(1999, 11, 6), 11697, 45783, datetime.date(2000, 12, 9), datetime.date(2001, 12, 9))
(11697, datetime.date(1957, 12, 20), 'JoAnne', 'Merey', 'F', datetime.date(1999, 11, 6), 11697, 45619, datetime.date(2001, 12, 9), datetime.date(9999, 1, 1))
(11754, datetime.date(1958, 5, 18), 'Malu', 'Magliocco', 'F', datetime.date(1999, 8, 23), 11754, 43638, datetime.date(1999, 11, 6), datetime.date(2000, 11, 5))
(11754, datetime.date(1958, 5, 18), 'Malu', 'Magliocco', 'F', datetime.date(1999, 8, 23), 11754, 46000, datetime.date(2000, 11, 5), datetime.date(2001, 11, 5))
(11754, datetime.date(1958, 5, 18), 'Malu', 'Magliocco', 'F', datetime.date(1999, 8, 23), 11754, 47936, datetime.date(2001, 11, 5), datetime.date(9999, 1, 1))
(11829, datetime.date(1952, 8, 1), 'Chaosheng', 'Pettis', 'F', datetime.date(1999, 2, 17), 11829, 40000, datetime.date(1999, 10, 11), datetime.date(2000, 10, 10))
(11829, datetime.date(1952, 8, 1), 'Chaosheng', 'Pettis', 'F', datetime.date(1999, 2, 17), 11829, 44216, datetime.date(2000, 10, 10), datetime.date(2001, 10, 10))
(11829, datetime.date(1952, 8, 1), 'Chaosheng', 'Pettis', 'F', datetime.date(1999, 2, 17), 11829, 48098, datetime.date(2001, 10, 10), datetime.date(9999, 1, 1))
(12015, datetime.date(1954, 8, 26), 'Kensei', 'Guenter', 'M', datetime.date(1999, 1, 4), 12015, 42853, datetime.date(1999, 11, 16), datetime.date(2000, 11, 15))
(12015, datetime.date(1954, 8, 26), 'Kensei', 'Guenter', 'M', datetime.date(1999, 1, 4), 12015, 43178, datetime.date(2000, 11, 15), datetime.date(2001, 11, 15))
(12015, datetime.date(1954, 8, 26), 'Kensei', 'Guenter', 'M', datetime.date(1999, 1, 4), 12015, 44595, datetime.date(2001, 11, 15), datetime.date(9999, 1, 1))
(12117, datetime.date(1956, 7, 22), 'Zvonko', 'Rosaz', 'F', datetime.date(1999, 2, 1), 12117, 40000, datetime.date(1999, 2, 1), datetime.date(2000, 2, 1))
(12117, datetime.date(1956, 7, 22), 'Zvonko', 'Rosaz', 'F', datetime.date(1999, 2, 1), 12117, 40436, datetime.date(2000, 2, 1), datetime.date(2001, 1, 31))
(12117, datetime.date(1956, 7, 22), 'Zvonko', 'Rosaz', 'F', datetime.date(1999, 2, 1), 12117, 41160, datetime.date(2001, 1, 31), datetime.date(2002, 1, 31))
(12117, datetime.date(1956, 7, 22), 'Zvonko', 'Rosaz', 'F', datetime.date(1999, 2, 1), 12117, 44738, datetime.date(2002, 1, 31), datetime.date(2002, 6, 23))
(12299, datetime.date(1962, 4, 25), 'Billie', 'Kushner', 'M', datetime.date(1999, 1, 24), 12299, 40000, datetime.date(1999, 1, 24), datetime.date(2000, 1, 23))
(12299, datetime.date(1962, 4, 25), 'Billie', 'Kushner', 'M', datetime.date(1999, 1, 24), 12299, 40254, datetime.date(2000, 1, 23), datetime.date(2001, 1, 22))
(12299, datetime.date(1962, 4, 25), 'Billie', 'Kushner', 'M', datetime.date(1999, 1, 24), 12299, 41258, datetime.date(2001, 1, 22), datetime.date(2002, 1, 22))
(12299, datetime.date(1962, 4, 25), 'Billie', 'Kushner', 'M', datetime.date(1999, 1, 24), 12299, 41891, datetime.date(2002, 1, 22), datetime.date(9999, 1, 1))
(12389, datetime.date(1963, 10, 16), 'Percy', 'Casperson', 'M', datetime.date(1999, 10, 8), 12389, 40000, datetime.date(1999, 11, 2), datetime.date(2000, 11, 1))
(12389, datetime.date(1963, 10, 16), 'Percy', 'Casperson', 'M', datetime.date(1999, 10, 8), 12389, 43789, datetime.date(2000, 11, 1), datetime.date(2001, 11, 1))
(12389, datetime.date(1963, 10, 16), 'Percy', 'Casperson', 'M', datetime.date(1999, 10, 8), 12389, 47326, datetime.date(2001, 11, 1), datetime.date(9999, 1, 1))
(12495, datetime.date(1962, 12, 28), 'Mooi', 'Erni', 'M', datetime.date(1999, 10, 1), 12495, 60091, datetime.date(1999, 12, 13), datetime.date(2000, 12, 12))
(12495, datetime.date(1962, 12, 28), 'Mooi', 'Erni', 'M', datetime.date(1999, 10, 1), 12495, 62842, datetime.date(2000, 12, 12), datetime.date(2001, 12, 12))
(12495, datetime.date(1962, 12, 28), 'Mooi', 'Erni', 'M', datetime.date(1999, 10, 1), 12495, 62703, datetime.date(2001, 12, 12), datetime.date(9999, 1, 1))
(12550, datetime.date(1957, 9, 16), 'Shawna', 'Marzano', 'M', datetime.date(1999, 1, 4), 12550, 44293, datetime.date(1999, 5, 14), datetime.date(2000, 5, 13))
(12550, datetime.date(1957, 9, 16), 'Shawna', 'Marzano', 'M', datetime.date(1999, 1, 4), 12550, 46772, datetime.date(2000, 5, 13), datetime.date(2001, 5, 13))
(12550, datetime.date(1957, 9, 16), 'Shawna', 'Marzano', 'M', datetime.date(1999, 1, 4), 12550, 47599, datetime.date(2001, 5, 13), datetime.date(2002, 5, 13))
(12550, datetime.date(1957, 9, 16), 'Shawna', 'Marzano', 'M', datetime.date(1999, 1, 4), 12550, 48792, datetime.date(2002, 5, 13), datetime.date(9999, 1, 1))
(12889, datetime.date(1952, 5, 2), 'Mayumi', 'Mukaidono', 'F', datetime.date(1999, 1, 22), 12889, 58901, datetime.date(1999, 4, 28), datetime.date(2000, 4, 27))
(12889, datetime.date(1952, 5, 2), 'Mayumi', 'Mukaidono', 'F', datetime.date(1999, 1, 22), 12889, 58806, datetime.date(2000, 4, 27), datetime.date(2001, 4, 27))
(12889, datetime.date(1952, 5, 2), 'Mayumi', 'Mukaidono', 'F', datetime.date(1999, 1, 22), 12889, 61485, datetime.date(2001, 4, 27), datetime.date(2002, 4, 27))
(12889, datetime.date(1952, 5, 2), 'Mayumi', 'Mukaidono', 'F', datetime.date(1999, 1, 22), 12889, 62341, datetime.date(2002, 4, 27), datetime.date(9999, 1, 1))
(13159, datetime.date(1954, 9, 22), 'Jingling', 'Ranst', 'F', datetime.date(1999, 6, 19), 13159, 54536, datetime.date(1999, 8, 12), datetime.date(2000, 8, 11))
(13159, datetime.date(1954, 9, 22), 'Jingling', 'Ranst', 'F', datetime.date(1999, 6, 19), 13159, 58733, datetime.date(2000, 8, 11), datetime.date(2001, 8, 11))
(13159, datetime.date(1954, 9, 22), 'Jingling', 'Ranst', 'F', datetime.date(1999, 6, 19), 13159, 60572, datetime.date(2001, 8, 11), datetime.date(9999, 1, 1))
(13189, datetime.date(1955, 11, 29), 'Yuuichi', 'Bazzichi', 'F', datetime.date(1999, 7, 1), 13189, 40000, datetime.date(1999, 10, 16), datetime.date(2000, 10, 15))
(13189, datetime.date(1955, 11, 29), 'Yuuichi', 'Bazzichi', 'F', datetime.date(1999, 7, 1), 13189, 43628, datetime.date(2000, 10, 15), datetime.date(2001, 10, 15))
(13189, datetime.date(1955, 11, 29), 'Yuuichi', 'Bazzichi', 'F', datetime.date(1999, 7, 1), 13189, 47330, datetime.date(2001, 10, 15), datetime.date(9999, 1, 1))
(13206, datetime.date(1954, 4, 7), 'Tetsurou', 'Rullman', 'M', datetime.date(1999, 3, 6), 13206, 44383, datetime.date(1999, 9, 6), datetime.date(2000, 9, 5))
(13206, datetime.date(1954, 4, 7), 'Tetsurou', 'Rullman', 'M', datetime.date(1999, 3, 6), 13206, 44506, datetime.date(2000, 9, 5), datetime.date(2001, 9, 5))
(13206, datetime.date(1954, 4, 7), 'Tetsurou', 'Rullman', 'M', datetime.date(1999, 3, 6), 13206, 46250, datetime.date(2001, 9, 5), datetime.date(9999, 1, 1))
(13218, datetime.date(1963, 12, 20), 'Junichi', 'Attimonelli', 'F', datetime.date(1999, 1, 30), 13218, 40000, datetime.date(1999, 1, 30), datetime.date(2000, 1, 30))
(13218, datetime.date(1963, 12, 20), 'Junichi', 'Attimonelli', 'F', datetime.date(1999, 1, 30), 13218, 43796, datetime.date(2000, 1, 30), datetime.date(2001, 1, 29))
(13218, datetime.date(1963, 12, 20), 'Junichi', 'Attimonelli', 'F', datetime.date(1999, 1, 30), 13218, 46957, datetime.date(2001, 1, 29), datetime.date(2002, 1, 29))
(13218, datetime.date(1963, 12, 20), 'Junichi', 'Attimonelli', 'F', datetime.date(1999, 1, 30), 13218, 49205, datetime.date(2002, 1, 29), datetime.date(9999, 1, 1))
(13246, datetime.date(1952, 6, 9), 'Adil', 'Siepmann', 'F', datetime.date(1999, 12, 31), 13246, 83156, datetime.date(1999, 12, 31), datetime.date(2000, 12, 30))
(13246, datetime.date(1952, 6, 9), 'Adil', 'Siepmann', 'F', datetime.date(1999, 12, 31), 13246, 86204, datetime.date(2000, 12, 30), datetime.date(2001, 12, 30))
(13246, datetime.date(1952, 6, 9), 'Adil', 'Siepmann', 'F', datetime.date(1999, 12, 31), 13246, 86760, datetime.date(2001, 12, 30), datetime.date(9999, 1, 1))
(13357, datetime.date(1953, 8, 19), 'Mabry', 'Llado', 'F', datetime.date(1999, 1, 24), 13357, 40000, datetime.date(1999, 1, 24), datetime.date(2000, 1, 24))
(13357, datetime.date(1953, 8, 19), 'Mabry', 'Llado', 'F', datetime.date(1999, 1, 24), 13357, 42381, datetime.date(2000, 1, 24), datetime.date(2001, 1, 23))
(13357, datetime.date(1953, 8, 19), 'Mabry', 'Llado', 'F', datetime.date(1999, 1, 24), 13357, 42577, datetime.date(2001, 1, 23), datetime.date(2002, 1, 23))
(13357, datetime.date(1953, 8, 19), 'Mabry', 'Llado', 'F', datetime.date(1999, 1, 24), 13357, 44039, datetime.date(2002, 1, 23), datetime.date(9999, 1, 1))
(13359, datetime.date(1954, 11, 16), 'Pragnesh', 'Kragelund', 'F', datetime.date(1999, 5, 29), 13359, 62189, datetime.date(1999, 5, 29), datetime.date(2000, 5, 28))
(13359, datetime.date(1954, 11, 16), 'Pragnesh', 'Kragelund', 'F', datetime.date(1999, 5, 29), 13359, 64188, datetime.date(2000, 5, 28), datetime.date(2001, 1, 1))
(13469, datetime.date(1962, 3, 25), 'Yonghoan', 'Undy', 'F', datetime.date(1999, 9, 29), 13469, 56090, datetime.date(1999, 9, 29), datetime.date(2000, 9, 28))
(13469, datetime.date(1962, 3, 25), 'Yonghoan', 'Undy', 'F', datetime.date(1999, 9, 29), 13469, 56934, datetime.date(2000, 9, 28), datetime.date(2001, 9, 28))
(13469, datetime.date(1962, 3, 25), 'Yonghoan', 'Undy', 'F', datetime.date(1999, 9, 29), 13469, 61051, datetime.date(2001, 9, 28), datetime.date(9999, 1, 1))
(13591, datetime.date(1953, 1, 23), 'Jinxi', 'Poulakidas', 'F', datetime.date(1999, 6, 24), 13591, 40000, datetime.date(1999, 6, 24), datetime.date(2000, 6, 23))
(13591, datetime.date(1953, 1, 23), 'Jinxi', 'Poulakidas', 'F', datetime.date(1999, 6, 24), 13591, 41504, datetime.date(2000, 6, 23), datetime.date(2001, 6, 23))
(13591, datetime.date(1953, 1, 23), 'Jinxi', 'Poulakidas', 'F', datetime.date(1999, 6, 24), 13591, 41723, datetime.date(2001, 6, 23), datetime.date(2002, 6, 23))
(13591, datetime.date(1953, 1, 23), 'Jinxi', 'Poulakidas', 'F', datetime.date(1999, 6, 24), 13591, 44010, datetime.date(2002, 6, 23), datetime.date(9999, 1, 1))
(13805, datetime.date(1958, 6, 2), 'Barry', 'Veldwijk', 'M', datetime.date(1999, 4, 13), 13805, 88152, datetime.date(1999, 9, 9), datetime.date(2000, 9, 8))
(13805, datetime.date(1958, 6, 2), 'Barry', 'Veldwijk', 'M', datetime.date(1999, 4, 13), 13805, 90045, datetime.date(2000, 9, 8), datetime.date(2001, 9, 8))
(13805, datetime.date(1958, 6, 2), 'Barry', 'Veldwijk', 'M', datetime.date(1999, 4, 13), 13805, 93597, datetime.date(2001, 9, 8), datetime.date(9999, 1, 1))
(13819, datetime.date(1959, 10, 15), 'Honglan', 'Percebois', 'M', datetime.date(1999, 3, 3), 13819, 40000, datetime.date(1999, 5, 19), datetime.date(2000, 5, 18))
(13819, datetime.date(1959, 10, 15), 'Honglan', 'Percebois', 'M', datetime.date(1999, 3, 3), 13819, 44296, datetime.date(2000, 5, 18), datetime.date(2001, 5, 18))
(13819, datetime.date(1959, 10, 15), 'Honglan', 'Percebois', 'M', datetime.date(1999, 3, 3), 13819, 46233, datetime.date(2001, 5, 18), datetime.date(2002, 5, 18))
(13819, datetime.date(1959, 10, 15), 'Honglan', 'Percebois', 'M', datetime.date(1999, 3, 3), 13819, 49723, datetime.date(2002, 5, 18), datetime.date(9999, 1, 1))
(13919, datetime.date(1952, 4, 22), 'Brewster', 'Sinicrope', 'M', datetime.date(1999, 12, 4), 13919, 51486, datetime.date(1999, 12, 4), datetime.date(2000, 12, 3))
(13919, datetime.date(1952, 4, 22), 'Brewster', 'Sinicrope', 'M', datetime.date(1999, 12, 4), 13919, 54846, datetime.date(2000, 12, 3), datetime.date(2001, 12, 3))
(13919, datetime.date(1952, 4, 22), 'Brewster', 'Sinicrope', 'M', datetime.date(1999, 12, 4), 13919, 57611, datetime.date(2001, 12, 3), datetime.date(9999, 1, 1))
(13940, datetime.date(1961, 10, 22), 'Leon', 'Servieres', 'F', datetime.date(1999, 1, 8), 13940, 40000, datetime.date(1999, 3, 30), datetime.date(1999, 4, 30))
(14109, datetime.date(1954, 8, 28), 'Vesna', 'Haldar', 'M', datetime.date(1999, 1, 8), 14109, 61804, datetime.date(1999, 12, 12), datetime.date(2000, 1, 1))
(14420, datetime.date(1959, 12, 31), 'Aiman', 'Panangaden', 'F', datetime.date(1999, 7, 12), 14420, 40000, datetime.date(1999, 7, 12), datetime.date(2000, 7, 11))
(14420, datetime.date(1959, 12, 31), 'Aiman', 'Panangaden', 'F', datetime.date(1999, 7, 12), 14420, 43166, datetime.date(2000, 7, 11), datetime.date(2001, 7, 11))
(14420, datetime.date(1959, 12, 31), 'Aiman', 'Panangaden', 'F', datetime.date(1999, 7, 12), 14420, 46595, datetime.date(2001, 7, 11), datetime.date(2002, 7, 11))
(14420, datetime.date(1959, 12, 31), 'Aiman', 'Panangaden', 'F', datetime.date(1999, 7, 12), 14420, 46682, datetime.date(2002, 7, 11), datetime.date(9999, 1, 1))
(14901, datetime.date(1959, 2, 20), 'Paloma', 'Basawa', 'M', datetime.date(1999, 2, 5), 14901, 46606, datetime.date(1999, 2, 5), datetime.date(2000, 2, 5))
(14901, datetime.date(1959, 2, 20), 'Paloma', 'Basawa', 'M', datetime.date(1999, 2, 5), 14901, 50059, datetime.date(2000, 2, 5), datetime.date(2000, 11, 25))
(14916, datetime.date(1957, 5, 25), 'Fumino', 'Narlikar', 'M', datetime.date(1999, 4, 1), 14916, 45078, datetime.date(1999, 4, 1), datetime.date(2000, 3, 31))
(14916, datetime.date(1957, 5, 25), 'Fumino', 'Narlikar', 'M', datetime.date(1999, 4, 1), 14916, 48322, datetime.date(2000, 3, 31), datetime.date(2001, 3, 31))
(14916, datetime.date(1957, 5, 25), 'Fumino', 'Narlikar', 'M', datetime.date(1999, 4, 1), 14916, 52457, datetime.date(2001, 3, 31), datetime.date(2002, 3, 31))
(14916, datetime.date(1957, 5, 25), 'Fumino', 'Narlikar', 'M', datetime.date(1999, 4, 1), 14916, 54724, datetime.date(2002, 3, 31), datetime.date(9999, 1, 1))
(15124, datetime.date(1955, 5, 6), 'Adhemar', 'Percebois', 'M', datetime.date(1999, 2, 20), 15124, 40000, datetime.date(1999, 9, 26), datetime.date(2000, 9, 25))
(15124, datetime.date(1955, 5, 6), 'Adhemar', 'Percebois', 'M', datetime.date(1999, 2, 20), 15124, 41346, datetime.date(2000, 9, 25), datetime.date(2001, 9, 25))
(15124, datetime.date(1955, 5, 6), 'Adhemar', 'Percebois', 'M', datetime.date(1999, 2, 20), 15124, 42108, datetime.date(2001, 9, 25), datetime.date(9999, 1, 1))
(15169, datetime.date(1955, 10, 31), 'Sanjoy', 'Matteis', 'M', datetime.date(1999, 5, 25), 15169, 64912, datetime.date(1999, 9, 10), datetime.date(2000, 9, 9))
(15169, datetime.date(1955, 10, 31), 'Sanjoy', 'Matteis', 'M', datetime.date(1999, 5, 25), 15169, 64770, datetime.date(2000, 9, 9), datetime.date(2001, 9, 9))
(15169, datetime.date(1955, 10, 31), 'Sanjoy', 'Matteis', 'M', datetime.date(1999, 5, 25), 15169, 66206, datetime.date(2001, 9, 9), datetime.date(9999, 1, 1))
(15368, datetime.date(1963, 7, 18), 'Seongbin', 'Lortz', 'F', datetime.date(1999, 4, 1), 15368, 44844, datetime.date(1999, 5, 18), datetime.date(2000, 5, 17))
(15368, datetime.date(1963, 7, 18), 'Seongbin', 'Lortz', 'F', datetime.date(1999, 4, 1), 15368, 48056, datetime.date(2000, 5, 17), datetime.date(2001, 5, 17))
(15368, datetime.date(1963, 7, 18), 'Seongbin', 'Lortz', 'F', datetime.date(1999, 4, 1), 15368, 51828, datetime.date(2001, 5, 17), datetime.date(2002, 5, 17))
(15368, datetime.date(1963, 7, 18), 'Seongbin', 'Lortz', 'F', datetime.date(1999, 4, 1), 15368, 52530, datetime.date(2002, 5, 17), datetime.date(9999, 1, 1))
(15426, datetime.date(1960, 7, 24), 'Juichirou', 'Biran', 'M', datetime.date(1999, 9, 30), 15426, 51994, datetime.date(1999, 9, 30), datetime.date(2000, 9, 29))
(15426, datetime.date(1960, 7, 24), 'Juichirou', 'Biran', 'M', datetime.date(1999, 9, 30), 15426, 55947, datetime.date(2000, 9, 29), datetime.date(2001, 9, 29))
(15426, datetime.date(1960, 7, 24), 'Juichirou', 'Biran', 'M', datetime.date(1999, 9, 30), 15426, 56307, datetime.date(2001, 9, 29), datetime.date(9999, 1, 1))
(15450, datetime.date(1958, 8, 27), 'Ugo', 'Salverda', 'M', datetime.date(1999, 6, 14), 15450, 40000, datetime.date(1999, 6, 14), datetime.date(2000, 4, 17))
(15596, datetime.date(1961, 11, 22), 'Bedir', 'Baba', 'M', datetime.date(1999, 1, 9), 15596, 76730, datetime.date(1999, 11, 15), datetime.date(2000, 11, 14))
(15596, datetime.date(1961, 11, 22), 'Bedir', 'Baba', 'M', datetime.date(1999, 1, 9), 15596, 76546, datetime.date(2000, 11, 14), datetime.date(2000, 12, 7))
(15929, datetime.date(1958, 4, 29), 'Mingdong', 'Baak', 'M', datetime.date(1999, 1, 30), 15929, 51243, datetime.date(1999, 9, 3), datetime.date(2000, 9, 2))
(15929, datetime.date(1958, 4, 29), 'Mingdong', 'Baak', 'M', datetime.date(1999, 1, 30), 15929, 53160, datetime.date(2000, 9, 2), datetime.date(2001, 1, 31))

In [65]:
conn.close()
curs.close()

In [66]:
len(results)

4853

In [67]:
df_pulled = pd.DataFrame(results)

In [68]:
df_pulled.columns = ['emp_no', 'birth_date', 'first_name', 'last_name', 'gender', 'hire_date', 'emp_no.1', 'salary', 'from_date', 'to_date']

In [69]:
df_pulled

,emp_no,birth_date,first_name,last_name,gender,hire_date,emp_no.1,salary,from_date,to_date
0,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,44276,1999-04-30,2000-04-29
1,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,46946,2000-04-29,2001-04-29
2,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,46775,2001-04-29,2002-04-29
3,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,50032,2002-04-29,9999-01-01
4,10105,1962-02-05,Hironoby,Piveteau,M,1999-03-23,10105,59258,1999-05-17,2000-05-16
...,...,...,...,...,...,...,...,...,...,...
4848,499610,1962-12-28,Kiyokazu,Vernadat,F,1999-08-29,499610,88013,2001-08-28,9999-01-01
4849,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,40000,1999-06-27,2000-06-26
4850,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,41159,2000-06-26,2001-06-26
4851,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,41709,2001-06-26,2002-06-26
4852,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,45235,2002-06-26,9999-01-01

# Using pandas directly to get sql (read_sql)

In [70]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\musta\miniconda3\envs\minimal_ds\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\musta\miniconda3\envs\minimal_ds\lib\site-packages (from sqlalchemy) (4.12.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\musta\miniconda3\envs\minimal_ds\lib\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [71]:
import sqlalchemy

In [72]:
from sqlalchemy import create_engine

In [73]:
con_string = 'mysql+pymysql://root:root@localhost/employees'
engine = create_engine(con_string)

In [74]:
pd.read_sql(query, engine)

,emp_no,birth_date,first_name,last_name,gender,hire_date,emp_no,salary,from_date,to_date
0,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,44276,1999-04-30,2000-04-29
1,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,46946,2000-04-29,2001-04-29
2,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,46775,2001-04-29,2002-04-29
3,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,50032,2002-04-29,9999-01-01
4,10105,1962-02-05,Hironoby,Piveteau,M,1999-03-23,10105,59258,1999-05-17,2000-05-16
...,...,...,...,...,...,...,...,...,...,...
4848,499610,1962-12-28,Kiyokazu,Vernadat,F,1999-08-29,499610,88013,2001-08-28,9999-01-01
4849,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,40000,1999-06-27,2000-06-26
4850,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,41159,2000-06-26,2001-06-26
4851,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,41709,2001-06-26,2002-06-26
4852,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,45235,2002-06-26,9999-01-01

In [75]:
df_read_sql = pd.read_sql(query, engine)

In [76]:
df_read_sql

,emp_no,birth_date,first_name,last_name,gender,hire_date,emp_no,salary,from_date,to_date
0,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,44276,1999-04-30,2000-04-29
1,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,46946,2000-04-29,2001-04-29
2,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,46775,2001-04-29,2002-04-29
3,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,50032,2002-04-29,9999-01-01
4,10105,1962-02-05,Hironoby,Piveteau,M,1999-03-23,10105,59258,1999-05-17,2000-05-16
...,...,...,...,...,...,...,...,...,...,...
4848,499610,1962-12-28,Kiyokazu,Vernadat,F,1999-08-29,499610,88013,2001-08-28,9999-01-01
4849,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,40000,1999-06-27,2000-06-26
4850,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,41159,2000-06-26,2001-06-26
4851,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,41709,2001-06-26,2002-06-26
4852,499888,1959-05-30,Hilari,Smeets,M,1999-06-27,499888,45235,2002-06-26,9999-01-01

# Writing to DB

In [77]:
max_salary = df.groupby(['emp_no', 'first_name', 'last_name'])['salary'] \
    .max().reset_index()

In [78]:
max_salary.to_sql('max_salary', engine, if_exists='replace', index=False)

1521

In [79]:
max_salary2 = pd.read_sql('SELECT * FROM max_salary', engine)

In [80]:
max_salary2

      emp_no first_name  last_name  salary
0      10019    Lillian    Haddadi   50032
1      10105   Hironoby   Piveteau   61514
2      10298   Dietrich    DuCasse   43923
3      10684      Aimee   Tokunaga   47683
4      11315      Neven    Meriste   85452
...      ...        ...        ...     ...
1516  498990       Adil    Litecky   54960
1517  499361  Sandeepan    Solares   64196
1518  499553   Hideyuki  Delgrande   72320
1519  499610   Kiyokazu   Vernadat   88013
1520  499888     Hilari     Smeets   45235

[1521 rows x 4 columns]

In [81]:
max_salary

      emp_no first_name  last_name  salary
0      10019    Lillian    Haddadi   50032
1      10105   Hironoby   Piveteau   61514
2      10298   Dietrich    DuCasse   43923
3      10684      Aimee   Tokunaga   47683
4      11315      Neven    Meriste   85452
...      ...        ...        ...     ...
1516  498990       Adil    Litecky   54960
1517  499361  Sandeepan    Solares   64196
1518  499553   Hideyuki  Delgrande   72320
1519  499610   Kiyokazu   Vernadat   88013
1520  499888     Hilari     Smeets   45235

[1521 rows x 4 columns]

In [82]:
max_salary.shape, max_salary2.shape

((1521, 4), (1521, 4))

# to_sql appending a tabele

In [83]:
max_salary_plus = max_salary.copy()
max_salary_plus['salary'] = max_salary_plus['salary'] + 1_000_000

In [84]:
max_salary_plus.to_sql('max_salary', engine, if_exists='append', index=False)

1521

In [85]:
max_salary_plus

      emp_no first_name  last_name   salary
0      10019    Lillian    Haddadi  1050032
1      10105   Hironoby   Piveteau  1061514
2      10298   Dietrich    DuCasse  1043923
3      10684      Aimee   Tokunaga  1047683
4      11315      Neven    Meriste  1085452
...      ...        ...        ...      ...
1516  498990       Adil    Litecky  1054960
1517  499361  Sandeepan    Solares  1064196
1518  499553   Hideyuki  Delgrande  1072320
1519  499610   Kiyokazu   Vernadat  1088013
1520  499888     Hilari     Smeets  1045235

[1521 rows x 4 columns]

In [86]:
max_salary3 = pd.read_sql('SELECT * FROM max_salary', engine)

In [93]:
max_salary3

      emp_no first_name  last_name   salary
0      10019    Lillian    Haddadi    50032
1      10105   Hironoby   Piveteau    61514
2      10298   Dietrich    DuCasse    43923
3      10684      Aimee   Tokunaga    47683
4      11315      Neven    Meriste    85452
...      ...        ...        ...      ...
3037  498990       Adil    Litecky  1054960
3038  499361  Sandeepan    Solares  1064196
3039  499553   Hideyuki  Delgrande  1072320
3040  499610   Kiyokazu   Vernadat  1088013
3041  499888     Hilari     Smeets  1045235

[3042 rows x 4 columns]

In [88]:
import datetime as dt

In [89]:
max_salary.to_sql('max_salary', engine, if_exists='replace', index=False)

1521

In [91]:
max_salary['date_created'] = dt.datetime.now()

In [92]:
max_salary.to_sql('max_salary', engine, if_exists='append', index=False)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'date_created' in 'field list'")
[SQL: INSERT INTO max_salary (emp_no, first_name, last_name, salary, date_created) VALUES (%(emp_no)s, %(first_name)s, %(last_name)s, %(salary)s, %(date_created)s)]
[parameters: [{'emp_no': 10019, 'first_name': 'Lillian', 'last_name': 'Haddadi', 'salary': 50032, 'date_created': datetime.datetime(2024, 6, 12, 21, 5, 54, 299259)}, {'emp_no': 10105, 'first_name': 'Hironoby', 'last_name': 'Piveteau', 'salary': 61514, 'date_created': datetime.datetime(2024, 6, 12, 21, 5, 54, 299259)}, {'emp_no': 10298, 'first_name': 'Dietrich', 'last_name': 'DuCasse', 'salary': 43923, 'date_created': datetime.datetime(2024, 6, 12, 21, 5, 54, 299259)}, {'emp_no': 10684, 'first_name': 'Aimee', 'last_name': 'Tokunaga', 'salary': 47683, 'date_created': datetime.datetime(2024, 6, 12, 21, 5, 54, 299259)}, {'emp_no': 11315, 'first_name': 'Neven', 'last_name': 'Meriste', 'salary': 85452, 'date_created': datetime.datetime(2024, 6, 12, 21, 5, 54, 299259)}, {'emp_no': 11325, 'first_name': 'Samphel', 'last_name': 'Rossi', 'salary': 69456, 'date_created': datetime.datetime(2024, 6, 12, 21, 5, 54, 299259)}, {'emp_no': 11697, 'first_name': 'JoAnne', 'last_name': 'Merey', 'salary': 45783, 'date_created': datetime.datetime(2024, 6, 12, 21, 5, 54, 299259)}, {'emp_no': 11754, 'first_name': 'Malu', 'last_name': 'Magliocco', 'salary': 47936, 'date_created': datetime.datetime(2024, 6, 12, 21, 5, 54, 299259)}  ... displaying 10 of 1521 total bound parameter sets ...  {'emp_no': 499610, 'first_name': 'Kiyokazu', 'last_name': 'Vernadat', 'salary': 88013, 'date_created': datetime.datetime(2024, 6, 12, 21, 5, 54, 299259)}, {'emp_no': 499888, 'first_name': 'Hilari', 'last_name': 'Smeets', 'salary': 45235, 'date_created': datetime.datetime(2024, 6, 12, 21, 5, 54, 299259)}]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [94]:
max_salary3

      emp_no first_name  last_name   salary
0      10019    Lillian    Haddadi    50032
1      10105   Hironoby   Piveteau    61514
2      10298   Dietrich    DuCasse    43923
3      10684      Aimee   Tokunaga    47683
4      11315      Neven    Meriste    85452
...      ...        ...        ...      ...
3037  498990       Adil    Litecky  1054960
3038  499361  Sandeepan    Solares  1064196
3039  499553   Hideyuki  Delgrande  1072320
3040  499610   Kiyokazu   Vernadat  1088013
3041  499888     Hilari     Smeets  1045235

[3042 rows x 4 columns]